!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title= t('site_title')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to t('site_title'), root_path, class: 'navbar-brand'
      %button.navbar-toggler{ type: 'button', data: { toggle: :collapse, target: '#navbar-supported-content' }, aria: { controls: 'navbar-supported-content', expanded: 'false', label: t('toggle_navigation') } }
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbar-supported-content
        %ul.navbar-nav.mr-auto
          = active_link_to t('home.show.page_title'), root_path, wrap_tag: :li, wrap_class: 'nav-item', class: 'nav-link'
          = active_link_to t('home.how_it_works.page_title'), '/how-it-works', wrap_tag: :li, wrap_class: 'nav-item', class: 'nav-link'
        - if current_user
          = link_to t('logout'), destroy_user_session_path, class: 'btn btn-secondary'
        - else
          = link_to t('login'), user_github_omniauth_authorize_path, class: 'btn btn-secondary'
    .container
      .row
        .col-sm
          = render partial: 'shared/flashes'
          = yield
